*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root{
    /*sitewide color palette. Use main color for branding, icons, etc. Shades are background or text colors. Use accents to draw attention.*/
    --light-shade: #DEAFB6;
    --light-accent: #D4B80E;
    --main-color: #AD72A8;
    --dark-accent: #8A533F;
    --dark-shade: #2A2B2F;

    /*sitewide fonts*/
    --display-font: 'Staatliches', cursive;
    --header-font: 'Permanent Marker', cursive;
    --default-font: 'Montserrat', sans-serif;

    /*default viewport size is >600px wide. See bottom of document for media break points.*/
    font-size: 16px; 
}

/* sitewide fonts and sizes*/
p {
    font-family: var(--default-font);
    font-size: 1rem;
    display: inline-block;
    word-wrap:break-word;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: var(--display-font);
    font-size: 2.5rem;
}
h2 {
    font-family: var(--header-font);
    font-size: 1.8rem;
}

h3 {
    font-family: var(--default-font);
    font-size: 1.5rem;
}

/*body elements*/
body {
    width: 100%;
    background-color: var(--dark-shade);
}

.navbar {
    background-color:var(--dark-shade);
}

.navbar-item {
    color:var(--main-color);
    font: var(--default-font);
    font-size: 1.2rem;
}

.button-primary {
    background: var(--main-color);
    color: var(--light-shade);
    font-family: var(--header-font);
    font-size: 1.2rem;
}

/*button hover state*/

/* resume button attention (plays once after 30s delay)*/



header {
    background-color:var(--light-accent);
    padding: 3rem 0 3rem 1.5rem;
}


section {
    background-image: linear-gradient(to right,#fff, var(--light-shade));
}

#about {
    margin: 3rem 0;
    padding: 3rem 0 0 1.5rem;
}

/*images*/
.pure-img-responsive{
    max-width: 100%;
    height: auto;    
}

#about-img{
    display: flex;
    justify-content: flex-end;
}