*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root{
    /*sitewide color palette. Use main color for branding, icons, etc. Shades are background or text colors. Use accents to draw attention.*/
    --light-shade: #DEAFB6;
    --light-accent: #D4B80E;
    --main-color: #AD72A8;
    --dark-accent: #8A533F;
    --dark-shade: #2A2B2F;

    /*sitewide fonts*/
    --display-font: 'Staatliches', cursive;
    --header-font: 'Permanent Marker', cursive;
    --default-font: 'Montserrat', sans-serif;

    /*default viewport size is >600px wide. See bottom of document for media break points.*/
    font-size: 16px; 
}

/* sitewide fonts and sizes*/
p {
    font-family: var(--default-font);
    font-size: 1rem;
    display: inline-block;
    word-wrap:break-word;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: var(--display-font);
    font-size: 2.5rem;
}
h2 {
    font-family: var(--header-font);
    font-size: 1.8rem;
}

h3 {
    font-family: var(--default-font);
    font-size: 1.5rem;
}

/*body elements*/
body {
    width: 100%;
    background-color: var(--dark-shade);
}

.navbar {
    background-color:var(--dark-shade);
}

.navbar-item {
    color:var(--main-color);
    font: var(--default-font);
    font-size: 1.2rem;
}

.button-primary {
    background: var(--main-color);
    color: var(--light-shade);
    font-family: var(--header-font);
    font-size: 1.2rem;
}

.pure-img-responsive{
    max-width: 100%;
    height: auto;    
}

header {
    background-color:var(--light-accent);
    padding: 3rem 0 3rem 1.5rem;
}


section {
    margin: 3rem 0;
    background-image: linear-gradient(to right,#fff, var(--light-shade));
}

/*section styling*/

#about {
    padding: 3rem 0 0 1.5rem;
}

#about p{
    padding: 1rem 1.5rem 0 0;
}

#about-img{
    display: flex;
    justify-content: flex-end;
}

#projects {
    padding: 3rem 1.5rem 3rem 1.5rem;
}

.project-imgs {
    margin-top: 1.5rem;
    padding: 1.5rem;
}

.project-img {
    padding: .5rem;
    border: .7rem solid var(--dark-accent);
    box-shadow: .2rem 1rem 1.5rem var(--dark-shade);
    background-color: var(--main-color);
}

.project-links{
    margin: 2rem 0 1rem 0;
}

.link-btn {
    margin: 0 auto;
    color: var(--dark-shade);
    font-family: var(--header-font);
    font-size: 1rem;
    background-color:var(--light-accent);

}

.social{
    font-family:var(--header-font);
    color:var(--dark-shade);
    font-size: 1rem;
}

.social-icon {
    padding:1rem;
    color:var(--main-color);
}

#contact {
    padding: 3rem;
}

#contact-text {
    margin-bottom: 1rem;
}

#contact-text p {
    padding-top: 1rem;
}
.accent-icon {
    color:var(--light-accent);
}