*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root{
    /*sitewide color palette. Use main color for branding, icons, etc. Shades are background or text colors. Use accents to draw attention.*/
    --light-shade: #DEAFB6;
    --light-accent: #D4B80E;
    --main-color: #AD72A8;
    --dark-accent: #8A533F;
    --dark-shade: #2A2B2F;

    /*default viewport size is >600px wide. See bottom of document for media break points.*/
    font-size: 16px; 
}

/* sitewide fonts and sizes*/
p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: inline-block;
    word-wrap:break-word;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2rem;
}
h2 {
    font-family: 'Karma', Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
}

h3 {
    font-family: 'Karma', Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}

body {
    width: 100%;
    background-color: var(--dark-shade);
}

section {
    background-image: linear-gradient(to right,#fff, var(--light-shade));
}

.pure-img-responsive{
    max-width: 100%;
    height: auto;    
}

#about-img{
    display: flex;
    justify-content: flex-end;
}